// Block Title
.title-block {
  @include grid-auto-column(space-between, end, 150px);
  margin-bottom: 60px;

  @media screen and (max-width: 900px) {
    margin-bottom: 40px;
  }

  button {
    @include symmetry(fit-content);

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

// Block Title Text
.title-block-text {
  z-index: -1;
  @include flex-column(10px);
  .title {
    @include font-style(
      $absolute-white,
      clamp(1.75rem, 1.462rem + 1.28vw, 3rem),
      $f-semibold,
      150%
    );
  }
  p {
    @include font-style(
      $grey-60,
      clamp(0.875rem, 0.817rem + 0.26vw, 1.125rem),
      $f-medium,
      150%
    );
  }
}
