.short-contact-form-content {
  margin-top: 120px;
  @include grid(33% 1fr, $g-gap: 80px);
  position: relative;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    @include grid-auto-row($g-gap: 40px);
  }
}

.contact-about-villa {
  @include flex-column(10px);

  h1 {
    @include font-style(
      $absolute-white,
      clamp(1.75rem, 1.4rem + 1.6vw, 3rem),
      $f-semibold,
      150%
    );
  }

  p {
    @include font-style(
      $grey-60,
      clamp(0.875rem, 0.805rem + 0.32vw, 1.125rem),
      $f-medium,
      150%
    );
  }
}

.short-contact-input-block {
  @include grid(repeat(2, 1fr), $g-gap: 20px);

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    @include grid-auto-row($g-gap: 20px);
  }

  .short-contact-property-select {
    grid-column: 1/3;

    @media screen and (max-width: 900px) {
      grid-column: 1/2;
    }
  }

  .info-textarea-block {
    grid-column: 1/3;
    margin-bottom: 20px;

    @media screen and (max-width: 900px) {
      grid-column: 1/2;
    }
  }

  .submit-block {
    grid-column: 1/3;

    @media screen and (max-width: 900px) {
      grid-column: 1/2;
    }
  }

  .location-icon {
    width: 25px;
    height: 25px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
