// Font Variable
$font-main: "Urbanist", sans-serif;

// Font Weight Variables
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

// Main Color Variables
$absolute-white: #fff;
$absolute-black: #000;

// Purple Color Variables
$purple-60: #703bf7;
$purple-65: #8254f8;
$purple-70: #946cf9;
$purple-75: #a685fa;
$purple-90: #dbcefd;
$purple-95: #ede7fe;
$purple-97: #f4f0fe;
$purple-99: #fbfaff;

// White Color Variables
$white-90: #e4e4e7;
$white-95: #f1f1f3;
$white-97: #f7f7f8;
$white-99: #fcfcfd;

// Grey Color Variables
$grey-08: #141414;
$grey-10: #1a1a1a;
$grey-15: #262626;
$grey-20: #333;
$grey-30: #4d4d4d;
$grey-40: #666;
$grey-50: #808080;
$grey-60: #999;
